body{
  background-color: #F5F3F3 !important;
}

.justify-content-center{
  justify-content: center;
}

.main-contianer{
  padding: 60px;
}

.main-title{
  font-size: 32px !important;
  text-align: center;
}

.content-card{
  padding: 32px;
  border-radius: 16px !important;
}